.ipynb_checkpoints/
*lock*
*.lock*
*.pyc
*.pyo
.idea/
env/
.venv/
doc/_build/
papers/**/*.pkl
papers/**/*.tif*
papers/real_space_reconstructions/simulation_data/
papers/sim_optimality_aspects/
Figures/
__pycache__/
other_projects/
*.doctree
data/
reconstructions/
simulations/BlindSIM/
simulations/statistics/
aberration_estimation/
unittests/test_data/
